*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background: linear-gradient(#388253, #94D75B);
    height: 285px;
    position: relative;
}
h1{
    font-family: 'Gochi Hand', cursive;
    text-align: center;
    font-size: 100px;
    color: antiquewhite;
    padding-top: 82px;
}

.logo{
    height: 100px;
    width: 100px;
    margin-left: 89%;
    position: absolute;  
    top: 17px;
    right: 15px;
}
.logo img{
    height: 100%;
}
.principal{
    width: 100%;
    margin-left:0px;
 
}
.principal img{
    width: 100%;
}
p{
    font-family: 'Raleway', sans-serif;
}
footer{
    size: 285px;
    position: relative;
}
h2{
    font-family: 'Gochi Hand', cursive;
    color: #94D75B;
    text-align: center;
    border:solid #94D75B;
}
.logo1{
    position: absolute;
    height: 100px;
    width: 100px;
    left:0%;
    top: 33%;
}
.logo1 img{
    height: 100%;
}

ul li{
    list-style: none;
    display: inline-table;
    position: absolute;
    left: 70%;
    top: 117%;
  }
  ul a{
      padding-left: 66px;
  }